html {  
        height: 100vh;  
       display: flex;  
       align-items:right;  
       justify-content: center; 
       font-family:cursive; 
       background-image: linear-gradient(315deg,pink 0%, white 74%);  
       height:auto

}
        
        
 body{
  height:100px;
  
};
     


.navbar {
 margin: center;
justify-content: center;
color:aqua;
};

.logo {
 font-size: 100px;
}

.menu {
 display: flex;
 gap: 1em;
 font-size: 40px;
 border-radius: 10px;
 padding-top: 10px;
 padding-left: 100px;
 color:#FEAA1A
};






 
   